// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap");

// CSS Variables Start
:root {
  // Theme Fonts
  --font-family-1: "Roboto Mono", serif;
  --font-family-2: "Syne", serif;
  --font-family-3: "Inter", serif;

  // Theme Colors
  --theme-bg: var(--primary-bg);
  --theme-color: var(--primary-color);
  --theme-primary-border-color: var(--primary-border-color);
}

// Variables for Light Mode
.light-mode {
  --primary-bg: #fdfbf5;
  --primary-color: #191919;
  --primary-border-color: rgba(0, 0, 0, 0.404);
}

// Variables for dark Mode
.dark-mode {
  --primary-bg: #191919;
  --primary-color: #fdfbf5;
  --primary-border-color: rgb(172, 172, 172);
}
// CSS Variables End

// Reset Default Styles Start
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding: 1rem;
  background-color: var(--theme-bg);
}
// Reset Default Styles End

// Common Styles for Frequently Used Elements Start
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s linear;
  font-family: var(--font-family-1);
}

li {
  list-style: none;
  font-family: var(--font-family-3);
}

img,
video {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-2);
}

p {
  font-family: var(--font-family-3);
}
// Common Styles for Frequently Used Elements End

// Reusable Components for This Site Start
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--theme-color);

  i {
    font-size: 3rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 600;
  }
}

.primary-btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: var(--font-family-1);
  background-color: var(--theme-color);
  color: var(--theme-bg);
  font-size: 1.4rem;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  text-transform: uppercase;

  div {
    span:last-child {
      display: none;
    }
  }
}

.section-primary-small-text {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--theme-color);
  font-weight: 200;
}

.section-primary-heading {
  text-transform: capitalize;
  font-size: 4.3rem;
  color: var(--theme-color);
  font-weight: 500;
  margin-block: 1rem 2rem;
}

.section-primary-separator {
  height: 1.5px;
  background-color: var(--theme-color);
}
// Reusable Components for This Site End

// Page-Specific Styles Start
.site-wrapper {
  padding: 2rem;
  border: 2px solid var(--theme-primary-border-color);
}

.site-wrapper > section {
  padding-block: 3rem;
  border-bottom: 2px solid var(--theme-primary-border-color);
}

// Navbar Start
.navbar {
  border-bottom: 2px solid var(--theme-primary-border-color);
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    #checkbox-for-toggle {
      display: none;
    }

    #checkbox-for-toggle:checked + .nav-links {
      display: flex;
    }

    #checkbox-for-toggle:checked
      ~ .theme-mode-toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(2) {
      opacity: 0;
    }

    #checkbox-for-toggle:checked
      ~ .theme-mode-toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(1) {
      transform-origin: right top;
      transform: rotate(-37deg);
    }

    #checkbox-for-toggle:checked
      ~ .theme-mode-toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(3) {
      transform-origin: right bottom;
      transform: rotate(35deg);
    }

    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      font-size: 1.6rem;
      font-weight: 400;
      background-color: var(--theme-bg);
      border: 2px solid #343230;
      padding: 2rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      li {
        border-bottom: 2px solid var(--theme-primary-border-color);
        padding-block: 1em;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        &:has(+ button) {
          border-bottom: none;
        }

        a {
          color: var(--theme-color);
        }
      }

      button {
        width: 100%;
      }
    }

    .social-icons {
      display: none;
    }

    .theme-mode-toggle-btns {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      cursor: pointer;

      .theme-toggle {
        display: flex;
        padding: 0.8em;
        border: 1px solid var(--theme-primary-border-color);
        border-radius: 20px;
        width: 6rem;
        font-size: 1.2rem;
        color: var(--theme-color);
      }

      .toggle-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
      }

      .toggle-bar {
        .toggle-bar-line {
          width: 3.2rem;
          height: 0.1rem;
          background-color: var(--theme-color);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
// Navbar End

// Hero Section Start
.hero {
  .hero-text {
    h1 {
      &.section-primary-heading {
        font-size: 5.5rem;
      }

      br {
        display: none;
      }
    }
  }

  .hero-img {
    border-radius: 1rem;
    aspect-ratio: 1/0.6;
  }
}
// Hero Section End

// Our Values Section Start
.our-values {
  display: flex;
  gap: 3rem;
  flex-direction: column;

  .our-values-right {
    display: flex;
    gap: 3rem;
    flex-direction: column;

    .separator {
      height: 1.5px;
      background-color: var(--theme-color);
    }

    .our-values-right-box {
      display: flex;
      flex-direction: column;

      i {
        font-size: 5rem;
        color: var(--theme-color);
      }

      h2 {
        font-size: 3.2rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-block: 0.5em;
        color: var(--theme-color);
      }

      p {
        font-size: 1.6rem;
        color: var(--theme-color);
        font-weight: 300;
      }
    }
  }
}
// Our Values Section End

// Our Team Section Start
.our-team {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .our-team-left {
    .our-team-text {
      position: sticky;
      top: 0;

      p {
        font-size: 1.9rem;
        color: var(--theme-color);
        font-weight: 400;
      }
    }
  }

  .our-team-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .our-team-right-box {
      .our-team-video {
        video {
          width: 100%;
          aspect-ratio: 4/3;
          border-radius: 2rem;
        }
      }

      h4 {
        font-size: 2.4rem;
        text-transform: capitalize;
        font-weight: 500;
        margin-block: 0.5em;
        color: var(--theme-color);
      }
      h6 {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 300;
        color: var(--theme-color);
      }
    }
  }
}
// Our Team Section End

// Footer Links Start
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .footer-links-left {
    p {
      font-size: 1.5rem;
      color: var(--theme-color);
      font-weight: 300;
      margin-top: 2rem;
    }
  }

  .footer-links-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .separator {
      height: 1.5px;
      background-color: var(--theme-color);
    }

    .footer-links-right-col {
      h5 {
        font-size: 2.2rem;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 1.8rem;
        color: var(--theme-color);
      }

      ul {
        li {
          font-size: 1.3rem;
          color: var(--theme-color);
          font-weight: 300;
          text-transform: uppercase;
          margin-block: 1.5rem;
        }
      }
    }
  }
}
// Footer Links End

// Footer Start
footer {
  padding-top: 3rem;
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--theme-color);
    font-weight: 400;
  }
}
// Footer End

// Page-Specific Styles End
